.container {
  margin: auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-container {
  margin: 5px 20px 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__link {
  margin: 0px 10px 0px 10px;
  color: #ffffff;
  line-height: 18px;
  font-size: 15px;
  font-family: Helvetica, Arial, Tahoma, sans-serif;
  text-decoration: none;
}

.header-nav__link:hover {
  opacity: 0.4;
}

.main-container {
  padding: 45px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
}

.user-name {
  margin: 19px 0px 0px 0px;
  font-size: 24px;
  line-height: 28px;
}

.user-desription {
  padding: 14px 0px 0px 0px;
  font-size: 16px;
  line-height: 21px;
}

.user-info {
  margin: 37px 0px 0px 0px;
  width: 336px;
  height: 200px;
  background: #e5e5e5;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

.user-support {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 20px 0px 0px 50px;
  font-size: 14px;
  line-height: 21px;
}

.content {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.tabs > div {
  display: none;
}

.tabs > input[type="radio"] {
  display: none;
}

.tabs > input[type="radio"]:checked + label {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #e5e5e5;
}

.tabs-btn__title {
  padding: 19px 30px;
  margin: 0px 10px 0px 0px;
  font-size: 18px;
  line-height: 21px;
}

#tab-btn-1:checked ~ #tabs-content__1,
#tab-btn-2:checked ~ #tabs-content__2 {
  display: block;
}

.my {
  background: #e5e5e5;
  border-radius: 10px;
  width: 100%;
  height: 500px;
}

.my-top {
  border-bottom: 1px solid #d3d3d3;
  padding: 30px 0px 20px 25px;
}

.my-top__link {
  font-style: normal;
  font-weight: normal;
  margin: 0px 25px 0px 0px;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
}

.news {
  position: relative;
  margin: 23px 0px 0px 0px;
  min-height: 80px;
  height: 90%;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ff9e00;
  -webkit-box-shadow: 0 16px 48px 0 rgba(0, 0, 0, 0.48);
          box-shadow: 0 16px 48px 0 rgba(0, 0, 0, 0.48);
  border-radius: 7px;
}

.news-title {
  margin: 0px 0px 0px 10px;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  font-size: 18px;
  line-height: 21px;
}

.news-description {
  text-align: center;
  font-size: 18px;
  line-height: 38px;
  width: 139px;
  height: 38px;
  background: #fcfcfc;
  border-radius: 7px;
  text-decoration: none;
}

.news-display {
  margin: 0px 10px 0px 0px;
  text-align: center;
  font-size: 18px;
  line-height: 38px;
  width: 139px;
  height: 38px;
  background: #fcfcfc;
  border-radius: 7px;
  text-decoration: none;
}

.tabs-content {
  height: 100%;
}

.my-marathon {
  margin: 65px 38px 0px 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.my-marathon__block {
  margin: 0px 0px 30px 0px;
  width: 291px;
  min-height: 344px;
}

.item {
  background-color: #fff;
  border-radius: 10px;
  width: 291px;
  min-height: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-top {
  margin: 18px 0px 0px 27px;
}

.item-top__title {
  width: 70%;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

.item-top__description {
  width: 80%;
  margin: 20px 0px 0px 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.item-bottom {
  margin: 0px 0px 30px 27px;
}

.item-bottom__money {
  margin: 0px 0px 20px 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.item-bottom__percent {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
}

.item-description {
  margin: 19px 0px 0px 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.item-button {
  margin: 10px 0px 0px 0px;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  line-height: 38px;
  width: 139px;
  height: 38px;
  background: #fcfcfc;
  border-radius: 7px;
  text-decoration: none;
}

.item-img__share {
  margin: 0px 0px 0px 20px;
}

.marathon-search {
  margin: 0px 0px 0px 57px;
  padding: 30px 0px 0px 0px;
}

.marathon-search__label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.marathon-search__input {
  margin: 36px 0px 0px 13px;
  padding: 0px 0px 0px 20px;
  width: 487px;
  height: 44px;
  background: #ffffff;
  border-radius: 10px;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #aeaeae;
  outline: none;
}

.header {
  background-color: #005ff9;
}

.user-name, .tabs-btn__title, .my-top__link:active, .news-title, .news-description, .news-display, .item-top__title, .item-top__description, .item-bottom__money, .item-bottom__percent, .item-description, .marathon-search__label {
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
}

.user-desription, .user-support, .my-top__link {
  font-family: Helvetica, Arial, sans-serif;
  color: #999999;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1420px;
  width: 100%;
}

.header {
  background-color: #005ff9;
}

.user-name, .tabs-btn__title, .my-top__link:active, .news-title, .news-description, .news-display, .item-top__title, .item-top__description, .item-bottom__money, .item-bottom__percent, .item-description, .marathon-search__label {
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
}

.user-desription, .user-support, .my-top__link {
  font-family: Helvetica, Arial, sans-serif;
  color: #999999;
}

@media (max-width: 1680px) {
  .container {
    max-width: 1420px;
    width: 100%;
  }
}

@media (max-width: 1366px) {
  .container {
    max-width: 1300px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1180px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 1940px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 700px;
  }
}
